.noticia-principal {
    display: flex;
    justify-content: center;
    padding-block: var(--default-padding);
    color: var(--text-white);
}

.container-noticia-principal {
    width: 90%;
    /* min-height: 350px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--overlay-gradient) , url('../../assets/img/backgroundImage.png');
    background-size: cover;   
    background-position: center;
    border: var(--modal-border);
    border-radius: var(--radius-lg);
    box-shadow: var(--default-shadow);
    padding-block: var(--padding-md);

}

.info-noticia {
    z-index: 2;
    display: flex;
    gap: 16px;
    padding-inline: var(--padding-md);
    padding-block: var(--padding-md);
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.noticia-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticia-img img {
    width: 124px;
    height: auto;
}

.noticia {
    font-size: 12px;
    color: #E0E0E0; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}