.sessao-ocorrencia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--default-padding);
}

.btn-container{
    padding-block: var(--padding-md);
    display: flex;
    gap: 8px;
}

.btn{
    background-color: var(--preto-transparente);
    border: var(--default-border);
    border-radius: var(--radius-md);
    color: var(--text-white);
    padding-inline: 4px;
    padding-block: 4px;
}

.btn:hover{
    background-color: var(--amarelo-favo);
    color: var(--text-black);
}

.minhas-ocorrencias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-ocorrencia {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
    padding-top: var(--padding-md);
}

.container-ocorrencia p {
    font-size: 12px;
}

.ocorrencia{
    width: 100%;
    display: flex;
    background-color: var(--bg-ocorrencia);
    border: var(--default-border);
    border-radius: var(--radius-md);
    padding-block: 4px;
    padding-inline: var(--padding-md);
    justify-content: space-between;
    filter: drop-shadow(var(--ocorrencia-shadow));
}
.status-ocorrencia{
    display: flex; 
    gap: 8px;
    align-items: center;
}
.status{
    border: var(--default-border);
    border-radius: var(--radius-full);
    width: 16px;
    height: 16px;
}

.sessao-feed-ocorencia{
    padding-block: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feed-ocorrencia{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.ocorrencia-feed{
    width: 85%;
    display: flex;
    background-color: var(--bg-ocorrencia);
    border: var(--default-border);
    border-radius: var(--radius-md);
    padding-block: 4px;
    padding-inline: var(--padding-sm);
    justify-content: start;
    filter: drop-shadow(var(--ocorrencia-shadow));
}
.info-ocorrencia{
    display: flex;
    font-size: 12px;
    justify-content: start;
}